.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 50vmin;
  transition: height 3s ease-in-out;
}

.App-logo:hover {
  animation: App-logo-spin infinite 5s linear;
  height: 60vmin;
}

.App-header {
  background-color: rgba(242, 244, 247, .25);
  font-family: 'Prompt';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(147, 214, 226);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.buttonDiv {
  width: 10vw;
  display: flex;
  justify-content: space-between;
}